<html ng-app=''>
<head>
<title>Community</title>
  </head>
  <body>
        <h2> List of communities by manager </h2>
        <div th:unless="${#lists.isEmpty(communities)}">
              <dl th:each="community : ${communities}">
                    <dt class="communityHeadline">
                          <span th:text="${community.title}">Title</span> created by <span
                                th:text="${community.manager}">Manager</span> (Categoria: <span
                                th:text="${community.category}"> Categoria </span>)
                                 
                    </dt>
                    <dd class="communityDescription">
                          <span th:if="${community.description}" th:text="${community.description}">Description</span>
                          <span th:if="${community.description eq null}"> No description... </span>
                    </dd>
              </dl>
        </div>
        <div th:if="${#lists.isEmpty(communities)}">
              <p> No registered communities </p>
        </div>
        <hr />
        <h3> Community Registration: </h3>
        <form name="form" method="POST">
        	<div>
              <label for="title"> Title: </label> <input type="text" name="title" ng-model="community.title" size="50" required = ""></input><br /><br />  
              <label for="category"> Category: </label> <input type="text" name="category" ng-model="community.category" size="15" required = ""></input><br /> <br />
              <label for="description">Description:</label><br />
              <textarea name="description" ng-model="community.description" cols="80" rows="5" required = "" ng-minlength="5"> </textarea>
              <span class="error" ng-show="form.description.$error.minlength">No minimo 5 caracteres!</span>
             
              <!--  <br />  <input type="submit" ng-disabled="form.$invalid"></input> -->
       		</div>
        </form>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </body>
  </html>